<%= render "devise/shared/error_messages", resource: resource %>

<div class="row edit-profile-wrapper">
  <div class="col-sm-3 left-col">
    <div class="list-group-item">
      <%= link_to 'Edit profile', '#', class: "list-group list-group-item-action btn btn-outline-secondary"%>
    </div>
    <div class="list-group-item">
      <%= link_to 'Log out', destroy_user_session_path, data: { confirm: "Are you sure?" }, method: :delete, class: "list-group list-group-item-action btn btn-outline-secondary"%>
    </div>
    <div class="list-group-item">
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you really want to delete your account?" }, method: :delete, class: 'list-group list-group-item-action btn btn-outline-secondary' %>
    </div>
  </div>
  <div class="col-sm-9 right-col">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      

      <div class="row username-image">
        <div class="col-sm-3 text-right">
          <%= image_tag avatar_url(@user), class: 'edit-page-avatar-image' %>
        </div>
        <div class="col-sm-9">
          <p><%= @user.name %></p>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :name, class: "col-sm-3 col-form-label text-right font-weight-bold"%>
          <div class="col-sm-9">
            <%= f.text_field :name, autofocus: true, class: "form-control col-sm-9" %>
          </div>
      </div>

      <div class="form-group row">
        <%= f.label :website, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
          <div class="col-sm-9">
            <%= f.text_field :website, class: "form-control col-sm-9" %>
          </div>
      </div>

      <div class="form-group row">
        <%= f.label :bio, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
          <div class="col-sm-9">
            <%= f.text_field :bio, class: "form-control col-sm-9" %>
          </div>
      </div>

      <div class="form-group row">
        <%= f.label :email, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.email_field :email, autocomplete: "email", class: "form-control col-sm-9" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group row">
        <%= f.label :password, class: "col-sm-3 col-form-label text-right font-weight-bold" %> 
        <div class="col-sm-9">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Leave blank if you don't want to change it",  class: "form-control col-sm-9" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :password_confirmation , class: "col-sm-3 col-form-label text-right font-weight-bold"%>
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, class: "form-control col-sm-9" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :current_password , class: "col-sm-3 col-form-label text-right font-weight-bold"%>
        <div class="col-sm-9">
          <%= f.password_field :current_password, placeholder: "Please enter your password", class: "form-control col-sm-9" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3">
          
        </div>
        <div class="col-sm-5 text-center">
          <%= f.submit "Update", class: "btn btn-outline-secondary" %>
        </div>
        <div class="col-sm-4 text-center">
         <%= button_to "Back", :back, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>