<div class="container">
  <div class="row">
    <div class="col-lg-6 landing-left">
      <%= render 'devise/shared/dummy_phone' %>
    </div>
    <div class="col-lg-6 landing-right text-center">
      <div class="form-login box">
        <div class = "login-img"></div>

        <h3>Sign up</h3>
        <h5 class = "light-color">
          <strong>Sign up to see photos and <br> videos from your friends
          </strong>
        </h5>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email',class: "form-control"  %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Password',class: "form-control"  %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Password confirmation',class: "form-control"  %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Sign up", class: 'btn btn-outline-success' %>
          </div>
        <% end %>

        <p class="light-color">By signing up, you agree to our <br><strong>Term &amp; Privacy policy</strong></p>
      </div>
      <div class="box">
        <span class="light-color">Have an account?</span>
        <br>
        <%= render "devise/shared/links" %> 
      </div> 
    </div>
  </div>
</div>