<div class="dummy-phone">
  <div class="screenshot">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_pack_tag "log_in_page/240x427/1.jpg", class: "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_pack_tag "log_in_page/240x427/2.jpg", class: "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_pack_tag "log_in_page/240x427/3.jpg", class: "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_pack_tag "log_in_page/240x427/4.jpg", class: "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_pack_tag "log_in_page/240x427/5.jpg", class: "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_pack_tag "log_in_page/240x427/6.jpg", class: "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_pack_tag "log_in_page/240x427/7.jpg", class: "d-block w-100" %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>